{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-refresh", "react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "no-console": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
