.card-container > div:nth-child(1) {
	border-top-left-radius: 1.2em;
	border-top-right-radius: 1.2em;
}
.card-container > div:last-child {
	border-bottom-left-radius: 1.2em;
	border-bottom-right-radius: 1.2em;
}
.card {
	padding: 0.6em 1.2em;
	margin: 0.6em 0;
}
.card-title {
	margin-bottom: 0;
	cursor: pointer;
}
.card-date {
	text-align: right;
	color: gray;
	font-size: small;
}
.card-authors {
	margin-top: 0;
	margin-bottom: 0;
	color: gray;
}
.card-content {
	white-space: pre-line;
}
.card-delete {
	text-align: right;
	color: gray;
	font-size: small;
	font-weight: normal;
	cursor: pointer;
}
.card-delete:hover {
	color: #747bff;
	font-weight: 500;
	text-decoration: underline;
}
