/* DEFAULT + RESET */
:root {
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  --accent: #a20ebdec;
  --text: #450950dc;
  --bg: #f3e5f511;

  --app-width: 640px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.18s ease-out;
}
html {
  color: var(--text);
  background-color: var(--bg);
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  height: 100vh;

  padding: 1rem;
}
button,
input {
  appearance: unset;
  border: unset;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* TAGS */
#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  max-width: 800px;
  min-height: 100%;
}
.header {
  text-align: center;

  width: 100%;
  padding: 1rem;
  margin: 1rem 0 4rem;
}
.main {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}
.footer {
  margin-top: 3rem;
  padding: 1rem;
}
.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 2rem;

  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #00000033;
}
.card-sm {
  flex: 1 1 10%;
}
.card-md {
  flex: 1 1 40%;
}
.card-lg {
  flex: 1 0 90%;
}

.h1 {
  font-size: 3rem;
  font-weight: 300;
  text-shadow: 0 0 8px #a20ebd33;
}
.h2 {
  font-size: 2rem;
  font-weight: 400;
}
.h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}
.link {
  color: var(--text);
  background-color: unset;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.input,
.button {
  max-width: 100%;
  padding: 0.5rem;

  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #00000022;
}
.button {
  color: var(--accent);
  background-color: var(--bg);
  font-weight: 700;

  cursor: pointer;
}
.file-input::file-selector-button {
  appearance: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;

  padding: 0.5rem;
  margin-right: 0.5rem;

  background-color: var(--bg);
  font-weight: 700;

  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #00000022;

  cursor: pointer;
}
.input:hover,
.button:hover,
.input:focus,
.button:focus {
  border: 2px solid var(--accent);
}
.file-input:hover,
.file-input:focus {
  border: 2px solid transparent;
}
.file-input::file-selector-button:hover,
.file-input::file-selector-button:focus {
  border: 2px solid var(--text);
}
.textarea {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 1.5;
  resize: vertical;

  color: var(--text);
  background-color: transparent;
  border: 2px solid var(--text);

  width: 100%;
  height: auto;
  padding: 0.5rem;
}
.textarea::-webkit-scrollbar {
  width: 0.5rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #00000044;
  border-radius: 1rem;
}

/* Components */
#userName .h2 span {
  font-weight: 700;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  border: 2px solid var(--text);
  border-radius: 50%;

  box-shadow: 0px 0px 8px #00000022;
  overflow: hidden;
}
#userAvatar .button {
  width: 100%;
}
#userBio {
  display: flex;
  align-items: stretch;
  width: 100%;
}
#userBio p {
  text-align: left;
}
#avatarUploader {
  text-align: center;
  width: 100%;
}
#avatarUploader form,
#avatarUploader .button {
  width: 100%;
}


.active {
  border-color: var(--accent);
}