/* LIGHT THME */
.light.app {
	color: var(--light-text);
	background-color: var(--light-bg);
	transition: color 0.7s, background-color 0.7s;
}
.light a {
	color: var(--accent);
}
.light a:hover {
	color: var(--light-accent);
}
.light.theme-switch,
.light.nav {
	background-color: var(--light-nav-bg);
	transition: background-color 0.7s;
}
.light.nav-link {
	color: var(--light-text);
	transition: color 0.3s;
}
.light.nav-active {
	color: var(--accent);
}

/* DARK THEME */
.dark.app {
	color: var(--dark-text);
	background-color: var(--dark-bg);
	transition: color 0.7s, background-color 0.7s;
}
.dark a {
	color: var(--accent);
}
.dark a:hover {
	color: var(--light-accent);
}
.dark.theme-switch,
.dark.nav {
	background-color: var(--dark-nav-bg);
	transition: background-color 0.7s;
}
.dark.nav-link {
	color: var(--dark-text);
}
.dark.nav-active {
	color: var(--accent);
}
